@model BulkyBook.Models.CoverTypeModel

@{
    ViewData["Title"] = "Delete";
}

<form asp-controller="CoverType" asp-action="Delete" metod="post">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete category</h2>
            <hr/>
        </div>

         @*<div asp-validation-summary="All"></div>*@

        <div calss="col-12 mt-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" disabled class="form-control mt-3" />
        </div>

        <div class="col-12 mt-3">

        <button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
        <a asp-controller="CoverType" asp-action="Index" class="btn btn-secondary" style="width:150px">Back to list</a>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }


